.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.hero__students {
	position: relative;
}

.hero__students::before {
	width: 12.875rem;
	height: 6.0625rem;
	flex-shrink: 0;
	content: '';
	position: absolute;
	top: 5px; /* Adjust positioning as needed */
	left: 5px; /* Adjust positioning as needed */
	right: 5px; /* Adjust positioning as needed */
	bottom: 5px; /* Adjust positioning as needed */
	z-index: -1;
	background: linear-gradient(
		45deg,
		#ff0000,
		#0000ff
	); /* Your gradient colors */
	border-radius: inherit;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Simulated shadow effect */
}
